@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],input[type='password'],input[type='email'],input[type='number'],input[type='tel'],textarea{

    @apply w-full border my-2 py-2 px-3 rounded-md;
  }

  textarea{
    height: 140px
  }
  
  button{
    @apply bg-gray-300;
  }
  
  button.primary{
    @apply bg-primary p-2 w-full rounded-2xl text-white;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }

   
  }
  
  .shake-on-hover:hover {
    animation: shake 0.4s ease-in-out infinite;
  }
  
  